<!doctype html>
<html lang="en" ng-app="app">
  <head>
    <title>Matchup Test</title></title>
      <!-- Basic Page Needs –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <meta charset="utf-8">
      <title>Your page title here :)</title>
      <meta name="description" content="">
      <meta name="author" content="">
      
      <!-- Mobile Specific Metas
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <!-- FONT
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
      
      <!-- CSS
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link rel="stylesheet" href="css/normalize.css">
      <link rel="stylesheet" href="css/skeleton.css">
      <link rel="stylesheet" href="css/custom.css">
      
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

      <script>
        function MatchupController($scope) {
          var socket = io.connect();
          $scope.liveGameTriplets = [];
          
          //$scope.schedule ID -> information that won't change 
          //$scope.livegamedata ID -> information that changes 
          //$scope.order sorted groups of three IDs sorted
    
          socket.on('connect', function () {
            
          });
          
          socket.on('liveupdate', function(liveGames) {
            console.log("liveupdate " + liveGames.length);
            $scope.liveGameTriplets = liveGames;
            $scope.$apply();
          });
        }
        
        MatchupController.$inject = ['$scope'];
        angular.module('app', []).controller('MatchupController', MatchupController);
      </script>
  </head>
  
  <body>
    <div class="section title">
      <div class="container">
        <div class="row">
          <h1>Matchup!</h1>  
        </div>
      </div>
    </div>
    
    <div class ="section games">
      <div class="container" ng-controller="MatchupController">
        
        <div ng-repeat="liveGameTriplet in liveGameTriplets" class="row" style="padding-bottom: 5%">
          
          <div ng-repeat="liveGame in liveGameTriplet" class="four columns game-box">
            <div class="game-box-content">
              
              <table class="score-table">
                <thead>
                  <th ng-bind="liveGame.timetag"></th>
                </thead>
                <tbody>
                  <tr>
                    <td ng-bind="liveGame.teams[0].location"></td>
                    <td ng-bind="liveGame.teams[0].score"></td>
                  </tr>
                  <tr>
                    <td ng-bind="liveGame.teams[1].location"></td>
                    <td ng-bind="liveGame.teams[1].score"></td>
                  </tr>
               </tbody>
              </table>
            
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
  </body>
</html>
