doctype html
html(lang='en', ng-app='app')
  include ./includes/header.jade
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
  script.
    function MatchupController($scope) {
    var socket = io.connect();
    $scope.liveGameTriplets = [];
    //$scope.schedule ID -> information that won't change
    //$scope.livegamedata ID -> information that changes
    //$scope.order sorted groups of three IDs sorted
    socket.on('connect', function () {
      
    });
    socket.on('liveupdate', function(liveGames) {
      console.log("liveupdate " + liveGames.length);
      $scope.liveGameTriplets = liveGames;
      $scope.$apply();
      });
    }
    MatchupController.$inject = ['$scope'];
    angular.module('app', []).controller('MatchupController', MatchupController);
  body
    .section.title
      .container
        .row
          a(href="/"): h1 Matchup!
    .section.games
      .container(ng-controller='MatchupController')
        .row(ng-repeat='liveGameTriplet in liveGameTriplets', style='padding-bottom: 5%')
          .four.columns.game-box(ng-repeat='liveGame in liveGameTriplet')
            a(ng-href='game/{{liveGame.gameID}}')
              .game-box-content
                table.score-table
                  thead
                    th(ng-bind='liveGame.timetag')
                  tbody
                    tr
                      td(ng-bind='liveGame.teams[0].location')
                      td(ng-bind='liveGame.teams[0].score')
                    tr
                      td(ng-bind='liveGame.teams[1].location')
                      td(ng-bind='liveGame.teams[1].score')
                      
    include ./includes/footer.jade
